---
import { linkStyles } from '@components/links/styles'
import { ArrowRightIcon, ArrowUpRightIcon } from '@heroicons/react/24/outline'
import type { TextLinkArrowType } from './keystatic.TextLinkArrow.config'

type Props = TextLinkArrowType

const { display, external, href } = Astro.props
---

{
  external ? (
    <span class="not-prose">
      <a href={href} class={linkStyles} rel="noopener noreferrer" target="_blank">
        <ArrowUpRightIcon className="inline h-5 w-5 pr-1" />
        {display}
      </a>
    </span>
  ) : (
    <span class="not-prose">
      <a href={href} class={linkStyles}>
        <ArrowRightIcon className="inline h-5 w-5 pr-1" />
        {display}
      </a>
    </span>
  )
}
