---
export const prerender = true
//
import PageHeader from '@components/PageHeader.astro'
import ProseMarkdown from '@components/ProseMarkdown.astro'
import SubProjectTable from '@components/SubProjectTable.astro'
import LayoutPage from '@components/layouts/LayoutPage.astro'
import Section from '@components/layouts/Section.astro'
import { getCollection, render } from 'astro:content'
import { mdxComponentsAstro } from 'keystatic/components/mdxComponentsAstro.astro'

export async function getStaticPaths() {
  const projects = await getCollection('subprojects')
  const pages = projects
    .filter((p) => p.data.isPublic)
    .map((page) => ({
      params: { slug: page.id },
      props: { page },
    }))
  return pages
}

const { page } = Astro.props
const { title, subTitle, topics, projectCommunes, projectPartners, start, end, funding } = page.data
const { Content } = await render(page)
---

<LayoutPage title={title}>
  <PageHeader title={title} subTitle={subTitle} />
  <Section>
    <SubProjectTable
      start={start}
      end={end}
      communes={projectCommunes}
      projectPartners={projectPartners}
      funding={funding}
      topics={topics}
      transition:name="sub-project-table"
    />
  </Section>
  <Section>
    <ProseMarkdown>
      <Content components={mdxComponentsAstro} />
    </ProseMarkdown>
  </Section>
</LayoutPage>
