---
import PageHeader from '@components/PageHeader.astro'
import ProseMarkdown from '@components/ProseMarkdown.astro'
import SubProjectTable from '@components/SubProjectTable.astro'
import LayoutPage from '@components/layouts/LayoutPage.astro'
import Section from '@components/layouts/Section.astro'
import { getCollection, render } from 'astro:content'
import { mdxComponentsAstro } from 'keystatic/components/mdxComponentsAstro.astro'

export async function getStaticPaths() {
  const projects = await getCollection('subprojects')
  return projects
    .filter((p) => p.data.isPublic)
    .map((entry) => ({
      params: { slug: entry.slug },
      props: { entry },
    }))
}

const { entry } = Astro.props
const { title, subTitle, topics, projectCommunes, projectPartners, start, end, funding } =
  entry.data
const { Content } = await render(entry)
---

<LayoutPage title={title}>
  <PageHeader title={title} subTitle={subTitle} />
  <Section>
    <SubProjectTable
      start={start}
      end={end}
      communes={projectCommunes}
      projectPartners={projectPartners}
      funding={funding}
      topics={topics}
      transition:name="sub-project-table"
    />
  </Section>
  <Section>
    <ProseMarkdown>
      <Content components={mdxComponentsAstro} />
    </ProseMarkdown>
  </Section>
</LayoutPage>
