---
import { ArrowRightIcon, ArrowUpRightIcon } from "@heroicons/react/24/outline";
import { linkStyles } from "./styles";

interface Props {
  href: string;
  external?: boolean;
  display?: string;
}

const { display, external, href } = Astro.props as Props;
---

{
  external ? (
    <span>
      <ArrowUpRightIcon className="h-4 w-4 inline" />
      <a
        href={href}
        class={linkStyles}
        rel="noopener noreferrer"
        target="_blank"
      >
        {display}
      </a>
    </span>
  ) : (
    <span>
      <ArrowRightIcon className="h-4 w-4 inline" />
      <a href={href} class={linkStyles}>
        {display}
      </a>
    </span>
  )
}
