---
import FonaLogo from '@assets/logos/BMBF_FONA_Logo_rgb.png'
import BmbfLogo from '@assets/logos/bmftr_logo.png'
import { Picture } from 'astro:assets'
import { getCollection } from 'astro:content'
import { clsx } from 'clsx'
import Section from './Section.astro'
import type { TNavigation } from './navbar/Navbar'

type Props = {
  footerNavigation: TNavigation
}

const communes = await getCollection('communes')

const { footerNavigation } = Astro.props
---

<Section>
  <div class="mb-12 mt-56 flex flex-col items-center justify-between gap-8 md:flex-row">
    <div class="flex w-full flex-shrink-0 md:w-auto">
      <Picture
        class="max-w-48"
        src={BmbfLogo}
        alt=""
        width={192}
        formats={['png', 'avif']}
        densities={[1.5, 2]}
      />
      <Picture
        class="max-w-48"
        src={FonaLogo}
        alt=""
        width={192}
        formats={['png', 'avif']}
        densities={[1.5, 2]}
      />
    </div>
    <p class="flex-shrink text-xs">
      Das Bundesministerium für Forschung, Technologie und Raumfahrt (BMFTR) fördert das Projekt
      NUDAFA im Rahmen der Strategie „Forschung für Nachhaltigkeit“ (FONA, www.fona.de) im
      Förderschwerpunkt Sozial-ökologische Forschung unter den Förderkennzeichen 01UV2124
      (2020-2024) sowie 01UV2424 (2024-2026). Die Verantwortung für den Inhalt dieser
      Veröffentlichung liegt bei den Autoren.
    </p>
  </div>
</Section>
<div
  class="flex flex-col justify-center gap-8 divide-y divide-beige-50 bg-beige-700 p-6 text-beige-50"
>
  <div class="grid grid-cols-2 gap-7 md:grid-cols-4 lg:grid-cols-6">
    {
      Object.entries(footerNavigation.first).map(([title, menuChildrenItems]) => (
        <div>
          <p class="text-beige-[#F5E4B7] pb-2 font-bold">{title}</p>
          <ul class="flex flex-col gap-2 text-sm">
            {Object.entries(menuChildrenItems).map(([item, href]) => (
              <li>
                <a class="text-beige-50 no-underline hover:text-beige-600" href={href}>
                  {item}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
    {
      Object.entries(footerNavigation.second).map((seconItem) => {
        if (typeof seconItem[1] === 'string') {
          return (
            <div>
              <p class="pb-2 font-bold">
                <a
                  href={seconItem[1]}
                  class={clsx(
                    'pb-2 font-bold',
                    // TODO Highlight when active page
                    // seconItem[1] === path && "font-bold"
                  )}
                >
                  {seconItem[0]}
                </a>
              </p>
            </div>
          )
        }

        const [title, menuChildrenItems] = seconItem
        return (
          <div>
            <p class="pb-2 font-bold">{title}</p>
            <ul class="flex flex-col gap-2 text-sm">
              {Object.entries(menuChildrenItems).map(([item, v]) => (
                <li>
                  <a class="text-beige-50 no-underline hover:text-beige-600" href={v}>
                    {item}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        )
      })
    }
    {
      (
        <div>
          <p class="pb-2 font-bold">Verbundpartner</p>
          <ul class="flex flex-col gap-2 text-sm">
            {communes
              .filter((commune) => commune.data.showInFooter)
              .map((commune) => (
                <li>
                  <a
                    rel="noopener noreferrer"
                    target="_blank"
                    class="text-beige-50 no-underline hover:text-beige-600"
                    href={commune.data.website}
                  >
                    {commune.data.name}
                  </a>
                </li>
              ))}
          </ul>
        </div>
      )
    }
  </div>
  <div class="mt-10 flex flex-col gap-2 pt-4 md:flex-row-reverse md:justify-between">
    <div class="flex gap-8">
      <a class="text-beige-50 no-underline hover:text-beige-600" href="/impressum/">Impressum</a>
      <a class="text-beige-50 no-underline hover:text-beige-600" href="/datenschutz/">Datenschutz</a
      >
    </div>
    <p class="text-beige-50">© Gemeinde Eichwalde</p>
  </div>
</div>
