---
import '@fontsource-variable/open-sans'
import '@fontsource/roboto-slab'
import { ViewTransitions } from 'astro:transitions'
import { DOMAIN } from 'src/utils/domain'

const defaultTitle = 'NUDAFA Reallabor - Radverkehrsplanung beschleunigen'
const defaultDescription =
  'Das NUDAFA-Reallabor fördert durch innovative Ansätze und interkommunale Zusammenarbeit den Radverkehr in der Region. Entdecken Sie unsere Projekte und erfahren Sie, wie wir die Mobilität revolutionieren.'

type Props = { title?: string; description?: string; noindex?: boolean; image?: string | null }
const { title, description, noindex = false, image }: Props = Astro.props

const seo = {
  title: title ? `${title} | ${defaultTitle}` : defaultTitle,
  description: description || defaultDescription,
  image: image || `${DOMAIN}/social-sharing/default.jpg`,
}
---

<!doctype html>
<html lang="de" class="h-full">
  <head>
    <meta charset="UTF-8" />
    {noindex && <meta name="robots" content="noindex" />}

    <title>{seo.title}</title>
    <meta property="og:title" content={seo.title} />
    <meta name="twitter:title" content={seo.title} />

    <meta name="description" content={seo.description} />
    <meta property="og:description" content={seo.description} />
    <meta name="twitter:description" content={seo.description} />

    <meta name="image" content={seo.image} />
    <meta property="og:image" content={seo.image} />
    <meta name="twitter:image" content={seo.image} />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />

    <ViewTransitions />
  </head>
  <body class="flex min-h-full w-full bg-[#eee] font-sans antialiased">
    <div class="relative flex-auto">
      <slot />
    </div>
  </body>
</html>
