---
import { getCollection } from 'astro:content'
import Footer from './../Footer.astro'
import { Navbar, type TNavigation } from '../navbar/Navbar.tsx'
import '@fontsource-variable/open-sans'
import '@fontsource/roboto-slab'

type Props = {
  title?: string
}
const subprojects = await getCollection('subprojects')
const measures = await getCollection('measures')
const { title = 'Nudafa' } = Astro.props

const pathname = new URL(Astro.request.url).pathname

const subprojectsNavigation = {}
if (subprojects?.length) {
  subprojects.forEach((p) => {
    // @ts-expect-error
    subprojectsNavigation[p.data.title] = `/teilprojekte/${p.slug}`
  })
}
// const measuresNavigation = {};
// if (measures?.length) {
//   measures.forEach((p) => {
//     measuresNavigation[p.data.title] = `/teilprojekte/${p.slug}`;
//   });
// }

const mainNavigation: TNavigation = {
  first: {
    'Das Reallabor': {
      Presse: '/presse',
      'Über uns': '/ueber-uns',
    },
    Teilprojekte: {
      ...subprojectsNavigation,
    },
  },
  second: {
    'Zum Radnetz': '/radnetz/einleitung',
    'Zu den Maßnahmen': {
      'Alle Maßnahmen': '/massnahmen',
      // ...measuresNavigation,
    },
  },
  //   Veranstaltungen: {
  //     "Aktuelle Veranstaltungen": "/veranstaltungen/aktuelle-veranstaltungen",
  //     Veranstaltungsarchiv: "/veranstaltungen/archiv",
  //   },
}

const footerNavigation: TNavigation = {
  first: {
    ...mainNavigation.first,
    Teilprojekte: {
      'Übersicht Teilprojekte': '/#teilprojekte',
    },
  },
  second: { ...mainNavigation.second },
}
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[#eee] font-sans">
    <div class="mx-auto max-w-[1440px] bg-white shadow-sm">
      <Navbar path={pathname} mainNavigation={mainNavigation} client:load />
      <main>
        <slot />
      </main>
      <Footer footerNavigation={footerNavigation} />
    </div>
  </body>
</html>
