---
import { getCollection, getEntry } from "astro:content";
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../components/layouts/Layout.astro";
import Section from "../../components/layouts/Section.astro";
import MeasureCardButton from "../../components/MeasureCardButton.astro";
import MeasureCardPanel from "../../components/MeasureCardPanel.astro";

import { MeasureCard } from "../../components/MeasureCard.tsx";
import H2 from "../../components/Text/H2.astro";

const measures = await getCollection("measures");
---

<Layout title="Alle Maßnahmen">
  <PageHeader title="Alle Maßnahmen" subTitle="" />

  <Section className="bg-[#DBEAFE]" extraPadding>
    <H2
      >Liste aller Maßnahmen in... <H2 />
      {
        measures.map((measure) => (
          <MeasureCard client:load>
            <MeasureCardButton
              slot="button"
              title={measure.data.title}
              type={measure.data.type}
              topics={measure.data.topics}
              operators={measure.data.operators}
              cost={measure.data.cost}
              state={measure.data.state}
              realisationDate={measure.data.realisationDate}
              urgency={measure.data.urgency}
            />
            <MeasureCardPanel slot="panel" measure={measure} />
          </MeasureCard>
        ))
      }
    </H2>
  </Section>
</Layout>
