---
import PageHeader from '@components/PageHeader.astro'
import H3 from '@components/Text/H3.astro'
import LayoutPage from '@components/layouts/LayoutPage.astro'
import Section from '@components/layouts/Section.astro'
import Link from '@components/links/Link.astro'
import { getEntry, render } from 'astro:content'
import { mdxComponentsAstro } from 'keystatic/components/mdxComponentsAstro.astro'

const page = await getEntry('presspage', 'index')
const { title, subTitle, mediaLinks } = page.data
const { Content } = await render(page)
---

<LayoutPage title="Presse">
  <PageHeader title={title} subTitle={subTitle}>
    <Content components={mdxComponentsAstro} />
  </PageHeader>
  {
    Boolean(mediaLinks.length) && (
      <Section>
        <H3>Presselinks:</H3>
        {mediaLinks.map((link: any) => (
          <Link href={link.url}>{link.display}</Link>
        ))}
      </Section>
    )
  }
</LayoutPage>
