---
import { getEntry } from 'astro:content'
import ImageDouble from '../components/ImageDouble.astro'
import ImageSingleHorizontal from '../components/ImageSingleHorizontal.astro'
import ImageSingleSquare from '../components/ImageSingleSquare.astro'
import ImageSingleVertical from '../components/ImageSingleVertical.astro'
import PageHeader from '../components/PageHeader.astro'
import H3 from '../components/Text/H3.astro'
import Layout from '../components/layouts/Layout.astro'
import Section from '../components/layouts/Section.astro'
import Link from '../components/links/Link.astro'
import TextLinkArrow from '../components/links/TextLinkArrow.astro'

const page = await getEntry('presspage', 'index')
const { title, subTitle, mediaLinks } = page.data
const { Content } = await page.render()
---

<Layout title={title}>
  <PageHeader title={title} subTitle={subTitle}>
    <Content
      components={{
        ImageSingleHorizontal,
        ImageSingleSquare,
        ImageSingleVertical,
        ImageDouble,
        TextLinkArrow,
      }}
    />
  </PageHeader>
  <Section>
    <H3>Presselinks:</H3>
    {mediaLinks.map((link: any) => <Link href={link.url}>{link.display}</Link>)}
  </Section>
</Layout>
