---
import CommuneCardWrapper from '@components/CommueCardWrapper.astro'
import CommuneCard from '@components/CommuneCard.astro'
import PageHeader from '@components/PageHeader.astro'
import ProseMarkdown from '@components/ProseMarkdown.astro'
import H2 from '@components/Text/H2.astro'
import LayoutPage from '@components/layouts/LayoutPage.astro'
import Section from '@components/layouts/Section.astro'
import PersonCard from '@components/page_ueber_uns/PersonCard.astro'
import PersonCardWrapper from '@components/page_ueber_uns/PersonCardWrapper.astro'
import { getCollection, getEntry } from 'astro:content'
import { mdxComponentsAstro } from 'keystatic/components/mdxComponentsAstro.astro'

const page = await getEntry('projectpartnerpageintro', 'index')
const pagemain = await getEntry('projectpartnerpagemain', 'index')

const { title, subTitle } = page.data
const { Content } = await page.render()

const persons = await getCollection('persons')
const communes = await getCollection('communes')
const { Content: ContentMain } = await pagemain.render()
---

<LayoutPage title="Über uns">
  <PageHeader title={title} subTitle={subTitle}>
    <Content components={mdxComponentsAstro} />
  </PageHeader>
  <Section className="bg-[#BFDBFE]" extraPadding>
    <H2>Das NUDAFA-Team</H2>
    <PersonCardWrapper>
      {
        !!persons?.length &&
          persons.map((p) => (
            <PersonCard
              position={p.data.position}
              image={p.data.personImage}
              name={p.data.firstName + ' ' + p.data.name}
              institution={p.data.institution}
            />
          ))
      }
    </PersonCardWrapper>
  </Section>
  <Section className="bg-[#FEF3C7]" extraPadding>
    <H2>Verbundpartner</H2>
    <CommuneCardWrapper>
      {
        !!communes?.length &&
          communes.map((p) => (
            <CommuneCard image={p.data.image} name={p.data.name} website={p.data.website} />
          ))
      }
    </CommuneCardWrapper>
  </Section>
  <Section>
    <ProseMarkdown>
      <ContentMain components={mdxComponentsAstro} />
    </ProseMarkdown>
  </Section>
</LayoutPage>
