---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import FonaLogo from "../assets/logos/BMBF_FONA_Logo_rgb.png";
import BmbfLogo from "../assets/logos/BMBF_gefoerdert_deutsch.png";
import Section from "./layouts/Section.astro";
import type { TNavigation } from "./navbar/Navbar";
import {clsx} from "clsx";

interface Props {
  footerNavigation: TNavigation;
}

const communes = await getCollection("communes");

const { footerNavigation } = Astro.props;
---

<Section>
  <div class="flex flex-col md:flex-row justify-between items-center gap-8">
    <div class="flex flex-shrink-0 w-full md:w-auto">
      <Image class="w-40" src={BmbfLogo} alt="Nudafa Logo" />
      <Image class="w-40" src={FonaLogo} alt="Nudafa Logo" />
    </div>
    <p class="flex-shrink text-xs">
      Das Bundesministerium für Bildung und Forschung (BMBF) fördert das Projekt
      NUDAFA im Rahmen der Strategie „Forschung für Nachhaltigkeit“ (FONA,
      www.fona.de) im Förderschwerpunkt Sozial-ökologische Forschung unter dem
      Förderkennzeichen 01UV2124. Die Verantwortung für den Inhalt dieser
      Veröffentlichung liegt bei den Autoren.
    </p>
  </div>
</Section>
<div
  class="bg-beige-700 text-white p-4 py-6 flex flex-col divide-y divide-white gap-8 justify-center"
>
  <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-7">
    {
      Object.entries(footerNavigation.first).map(
        ([title, menuChildrenItems]) => (
          <div>
            <p class="font-bold pb-2">{title}</p>
            <ul class="text-sm flex flex-col gap-2">
              {Object.entries(menuChildrenItems).map(([item, href]) => (
                <li>
                  <a class="no-underline  hover:text-beige-500" href={href}>
                    {item}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        )
      )
    }
    {
      Object.entries(footerNavigation.second).map(
                              (seconItem) => {
                        if (typeof seconItem[1] === 'string') {
                          return(

                                    <div>
            <p class="font-bold pb-2"><a href={seconItem[1]} class={clsx(
                            "relative ml-3 flex items-center gap-2 px-3 font-medium hover:text-beige-500",
                            // TODO Highlight when active page
                            // seconItem[1] === path && "font-bold"
                          )}>{seconItem[0]}</a></p>
          </div>)

                        }

                        const [title, menuChildrenItems] = seconItem
                        return(
          <div>
            <p class="font-bold pb-2">{title}</p>
            <ul class="text-sm flex flex-col gap-2">
              {Object.entries(menuChildrenItems).map(([item, v]) => (
                <li>
                  <a class="no-underline  hover:text-beige-500" href={v}>
                    {item}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        )}
      )
    }
    {
      (
        <div>
          <p class="font-bold pb-2">Verbundpartner</p>
          <ul class="text-sm flex flex-col gap-2">
            {communes.map((commune) => (
              <li>
                <a
                  rel="noopener noreferrer"
                  target="_blank"
                  class="no-underline  hover:text-beige-500"
                  href={commune.data.website}
                >
                  {commune.data.name}
                </a>
              </li>
            ))}
          </ul>
        </div>
      )
    }
  </div>
  <div class="flex flex-col md:flex-row-reverse gap-2 pt-6 md:justify-between">
    <div class="flex gap-8">
      <a class="no-underline hover:text-beige-500" href="/impressum"
        >Impressum</a
      >
      <a class="no-underline hover:text-beige-500" href="/datenschutz"
        >Datenschutz</a
      >
    </div>
    <p>© Gemeinde Eichwalde</p>
  </div>
</div>
