---
import MeasureCardTitle from "./MeasureCardTitle.astro";
import MeasureCardTopicsAndOperators from "./MeasureCardTopicsAndOperators.astro";
import MeasureCardCostDurationLength from "./MeasureCardCostDurationLength.astro";
import StatusLabel from "./StatusLabel.astro";

interface Props {
  title: string;
  type?: string;
  topics?: string[];
  operators?: string[];
  cost: number;
  state: string;
  realisationDate?: Date;
  urgency: boolean;
}

const {
  title,
  type,
  topics,
  operators,
  cost,
  state,
  realisationDate,
  urgency,
} = Astro.props;
---

<!-- desktop version -->
<div class="flex-row gap-4 w-full hidden md:flex">
  <div class="flex flex-col w-full justify-between">
    <div class="flex justify-between items-start">
      <MeasureCardTitle title={title} type={type} />
      <MeasureCardCostDurationLength
        cost={cost}
        realisationDate={realisationDate}
      />
      {urgency && <p class="text-red-500 rounded-full p-1"> !</p>}
      <div class="flex-col items-end flex-shrink-0">
        <StatusLabel state={state} />
      </div>
    </div>
    <MeasureCardTopicsAndOperators topics={topics} operators={operators} />
    <p class="invisible shrink-0 text-sm">Mehr Details</p>
  </div>
</div>

<!-- mobile version -->
<div class="flex-col flex gap-4 w-full md:hidden">
  <div class="flex gap-4">
    <MeasureCardTitle title={title} type={type} />
    {urgency && <p class="text-red-500 rounded-full p-1"> !</p>}
  </div>
  <div class="flex flex-col w-full justify-between gap-4">
    <div class="flex justify-between">
      <MeasureCardCostDurationLength
        cost={cost}
        realisationDate={realisationDate}
      />
    </div>
    <MeasureCardTopicsAndOperators topics={topics} operators={operators} />
    <div class="flex mb-5">
      <StatusLabel state={state} />
    </div>
  </div>
</div>
