---
import MeasureCardTitle from './MeasureCardTitle.astro'
import MeasureCardTopicsAndOperators from './MeasureCardTopicsAndOperators.astro'
import MeasureCardCostDurationLength from './MeasureCardCostDurationLength.astro'
import StatusLabel from './StatusLabel.astro'

type Props = {
  title: string
  type?: string
  topics?: string[]
  operators?: string[]
  cost: number
  state: string
  realisationDate?: Date
  startDate?: Date
  urgency: boolean
}

const { title, type, topics, operators, cost, state, realisationDate, startDate, urgency } =
  Astro.props
---

<!-- desktop version -->
<div class="hidden w-full flex-row gap-4 md:flex">
  <div class="flex w-full flex-col justify-between">
    <div class="flex items-start justify-between">
      <MeasureCardTitle title={title} type={type} />
      <MeasureCardCostDurationLength
        cost={cost}
        realisationDate={realisationDate}
        startDate={startDate}
      />
      {urgency && <p class="rounded-full p-1 text-red-500"> !</p>}
      <div class="flex-shrink-0 flex-col items-end">
        <StatusLabel state={state} />
      </div>
    </div>
    <MeasureCardTopicsAndOperators topics={topics} operators={operators} />
    <p class="invisible shrink-0 text-sm">Mehr Details</p>
  </div>
</div>

<!-- mobile version -->
<div class="flex w-full flex-col gap-4 md:hidden">
  <div class="flex gap-4">
    <MeasureCardTitle title={title} type={type} />
    {urgency && <p class="rounded-full p-1 text-red-500"> !</p>}
  </div>
  <div class="flex w-full flex-col justify-between gap-4">
    <div class="flex justify-between">
      <MeasureCardCostDurationLength
        cost={cost}
        realisationDate={realisationDate}
        startDate={startDate}
      />
    </div>
    <MeasureCardTopicsAndOperators topics={topics} operators={operators} />
    <div class="mb-5 flex">
      <StatusLabel state={state} />
    </div>
  </div>
</div>
