---
import { isPast } from "date-fns";
import PartnerLabel from "../components/PartnerLabel.astro";
import TopicLabel from "../components/TopicLabel.astro";

interface Props {
  start: Date;
  end?: Date;
  commune?: string[];
  partners: string[];
  funding?: string;
  topics: string[];
}

const { start, end, commune, partners, funding, topics } = Astro.props;
const isProjectPast = end && isPast(end);
const communeTableData = {
  eichwalde: "Gemeinde Eichwalde",
  zeuthen: "Gemeinde Zeuthen",
  schulzendorf: "Gemeinde Schulzendorf",
  wildau: "Stadt Wildau",
};
---

<div
  class="flex flex-col divide-y divide-gray-200 text-gray-500 border border-gray-200 rounded-sm shadow-lg"
>
  <div
    class="flex flex-col md:flex-row gap-2 p-3 min-w-[200px] flex-shrink-0 md:items-center"
  >
    <p class="min-w-[200px] flex-shrink-0">Themen</p>
    <ul class="flex flex-wrap gap-2">
      {
        !!topics?.length ? (
          topics.map((topic) => <TopicLabel topic={topic} />)
        ) : (
          <span>-</span>
        )
      }
    </ul>
  </div>
  <div
    class="flex flex-col md:flex-row gap-2 p-3 min-w-[200px] flex-shrink-0 md:items-center"
  >
    <p class="min-w-[200px] flex-shrink-0">Beteiligte Projektpartner</p>
    <ul class="flex flex-wrap gap-2">
      {
        !!partners?.length ? (
          partners.map((partner) => (
            <li>
              <PartnerLabel partner={partner} />
            </li>
          ))
        ) : (
          <span>-</span>
        )
      }
    </ul>
  </div>
  <div
    class="flex flex-col md:flex-row gap-2 p-3 min-w-[200px] flex-shrink-0 md:items-center"
  >
    <p class="min-w-[200px] flex-shrink-0">Projektkommune</p>
    <p class="text-black font-bold flex gap-2">
      {
        !!commune?.length ? (
          commune.map((c) => <span>{communeTableData[c]} </span>)
        ) : (
          <span>-</span>
        )
      }
    </p>
  </div>
  <div
    class="flex flex-col md:flex-row gap-2 p-3 min-w-[200px] flex-shrink-0 md:items-center"
  >
    <p class="min-w-[200px] flex-shrink-0">Projektlaufzeit</p>
    <p class="text-black font-bold">
      {
        isProjectPast
          ? `Laufzeit: ${start.toLocaleDateString()} bis ${start.toLocaleDateString()}`
          : "Seit " + start.toLocaleDateString()
      }
    </p>
  </div>
  <div
    class="flex flex-col md:flex-row gap-2 p-3 min-w-[200px] flex-shrink-0 md:items-center"
  >
    <p class="min-w-[200px] flex-shrink-0">Finanzierung</p>
    <p class="text-black font-bold">
      {funding || "-"}
    </p>
  </div>
</div>
