---
import { Image } from "astro:assets";
import { cardStylesForLinkElements, linkStyles } from "./links/styles";
import H3 from "./Text/H3.astro";

interface Props {
  href?: string;
  image: any;
  title: string;
  teaser?: string;
  teaserImageCopyright?: string;
}
const { href, title, teaser, image, teaserImageCopyright } = Astro.props;
---

<li class:list={[""]}>
  <a
    class:list={[
      "rounded-sm flex bg-white shadow-lg flex-col gap-3 h-xs w-full justify-between",
      cardStylesForLinkElements,
    ]}
    href={href}
  >
    <figure class:list={["w-full h-[250px]"]}>
      <Image
        class="w-full h-full overflow-hidden object-cover"
        src={image}
        alt={""}
        loading="lazy"
      />
      {
        teaserImageCopyright && (
          <figcaption class="text-xs text-right mt-2 text-gray-400 mr-6 md:text-sm">
            © {teaserImageCopyright}
          </figcaption>
        )
      }
    </figure>
    <div class="flex flex-col gap-4 line-clamp-2 p-6">
      <h3 class="font-serif font-bold text-2xl">{title}</h3>
      {teaser && <p class="line-clamp-3">{teaser}</p>}
      <small class:list={[linkStyles]}>Weiterlesen</small>
    </div>
  </a>
</li>
