---
import H2 from '@components/Text/H2.astro'
import Section from '@components/layouts/Section.astro'
import { getCollection } from 'astro:content'
import BigSubprojectCardWrapper from './BigSubprojectCardWrapper.astro'
import SubprojectCard from './SubprojectCard.astro'
import SubprojectCardWrapper from './SubprojectCardWrapper.astro'

const subProjects = await getCollection('subprojects')
const subProjectsBig = subProjects
  .filter((p) => p.data.isPublic && p.data.showBig)
  .sort((a, b) => a.id.localeCompare(b.id))
const subProjectsSmall = subProjects
  .filter((p) => p.data.isPublic && !p.data.showBig)
  .sort((a, b) => a.id.localeCompare(b.id))
---

<Section className="bg-[#FEF3C7]" extraPadding>
  <div id="teilprojekte">
    <H2>Teilprojekte</H2>
    {
      Boolean(subProjectsBig?.length) && (
        <BigSubprojectCardWrapper>
          {subProjectsBig.map((project) => (
            <SubprojectCard
              image={project.data.teaserImage}
              href={`/teilprojekte/${project.id}/`}
              title={project.data.title}
              teaser={project.data.teaser}
              teaserImageCopyright={project.data.teaserImageCopyright}
            />
          ))}
        </BigSubprojectCardWrapper>
      )
    }
    {
      Boolean(subProjectsSmall?.length) && (
        <SubprojectCardWrapper>
          {subProjectsSmall.map((project) => (
            <SubprojectCard
              image={project.data.teaserImage}
              href={`/teilprojekte/${project.id}/`}
              title={project.data.title}
              teaser={project.data.teaser}
              teaserImageCopyright={project.data.teaserImageCopyright}
            />
          ))}
        </SubprojectCardWrapper>
      )
    }
  </div>
</Section>
