---
import { Picture } from 'astro:assets'
import { getCollection } from 'astro:content'
import CommuneLabel from '../CommuneLabel.astro'

type Props = {
  image: any
  name: string
  position: string
  institution?: string
}
const { name, image, position, institution } = Astro.props

const communes = await getCollection('communes')

const commune = communes.find((commune) => {
  return institution === commune.slug
})
---

<li
  class="grid min-h-[192px] w-full grid-cols-2 items-center justify-between rounded-sm bg-white py-8 text-sm shadow-lg sm:flex sm:flex-col sm:gap-6"
>
  <figure class="w-full">
    <Picture
      class="mx-auto h-[128px] w-[128px] overflow-hidden rounded-full object-cover"
      src={image}
      alt=""
      loading="lazy"
      height={128}
      width={128}
      formats={['jpg', 'avif']}
      densities={[1.5, 2]}
    />
  </figure>
  <div class="flex flex-col items-center gap-2 pl-2 pr-6 text-center sm:px-4 sm:pb-4 sm:pl-0">
    <p class="break-words text-center font-bold">{name}</p>
    <p class="w-full break-words text-center text-gray-500">{position}</p>
    {commune && <CommuneLabel communeName={commune.data.name} communeColor={commune?.data.color} />}
  </div>
</li>
